---
import { db } from "../db";
import { test } from "../db/schema";

// import { db, test } from 'astro:db';

if (Astro.request.method === "POST") {
    console.log("inserting value");
    await db.insert(test).values({
        test: "inserted-value",
    });
    return Astro.redirect("/");
}

const tests = await db.select().from(test);
---

<style>
    body {
        padding: 70px;
        display: flex;
        flex-direction: column;
        background-color: #190826;
        font-family: system-ui;
        /* justify-content: center; */
    }
    h1 {
        margin-left: auto;
        margin-right: auto;
        /* color: #ac83cc; */
        color: white;
        font-size: 3rem;
    }
    .value {
        background-color: #3d294d;
        padding: 10px;
        color: white;
        width: fit-content;
        border-radius: 999px;
    }
    p {
        /* margin-left: auto;
        margin-right: auto; */
        color: white;
    }
    form {
        margin-left: auto;
        margin-right: auto;
    }
    button {
        background-color: #ac83cc;
        padding: 1em;
        border-radius: 999px;
        font-size: 1rem;
        border-width: 0;
    }
</style>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1>Astro + Drizzle</h1>
        <form id="form_id" method="POST">
            <button>Insert test value</button>
        </form>
        {tests.map(({ test }) => <p class="value">{test}</p>)}
        <p>PUBLIC_TEST: {import.meta.env.PUBLIC_TEST}</p>
    </body>
</html>
